


.principal{
    background-color: rgb(214, 212, 212);
    padding: 30px;
    font-size: 20px;
}

.titulo-centralizado{
    text-align: center;
    font-size: 40px;
    padding: 20px;
}

.imagem-beneficios{
   width: 50%;

}


.texto{
    font-style: italic;
    font-size: 30px;
}

main{
    width: 940px;
    margin: 0 auto;

}

form{
    margin: 40px 0;
    
}

form label, form p{
     display: block;
     font-size: 20px;
     margin-bottom: 10px;
}

form input, form textarea, .input-padrao{
    display: block;
    margin-bottom: 10px;
    width: 50%;
    padding: 10px 40px;
}

.checkbox1{
    margin: 25px 0;
}