


.principal{
    background-color: pink;
    padding: 30px;
    font-size: 20px;
}

.titulo-centralizado{
    text-align: center;
    font-size: 50px;
    padding: 20px;
}

.imagem-beneficios{
   width: 50%;

}


.texto{
    font-style: italic;
    font-size: 30px;
}